* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  --text-list-color: #403d39;
  --inputs-labels: #403d39;
  --add-to-store-bg: #fcf9f0;
  --add-to-store-input: rgb(235, 89, 35);
  --items-table-hover: #e6e6e6;
  --table-found-bg: #eb5e28;
  --table-selected-text-color: #eb5e28;
  --inputs-focus-color: #eb5e28;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 960px;
  margin: auto;
}

/* NAVBAR & LOGO */

.global-nav {
  font-size: 13px;
  text-align: center;
  list-style-type: none;
  background-color: #205081;
  line-height: 40px;
  border-bottom: 1px solid #235990;
  position: relative;
}

.nav-left {
  position: absolute;
  left: 10px;
  top: 10px;
}

.logo {
  width: 200px;
  font-family: "Dancing Script", cursive;
  font-size: 1.3rem;
  margin-top: -2px;
  margin-left: 20px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

/* BTNS */

.btn-big {
  font-style: normal !important;
  border-radius: 5px;
  background-color: cadetblue;
  border: 0;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  padding: 13px !important;
  transition: background-color 0.5s;
  letter-spacing: 1px;
}
.btn-big:hover {
  background-color: rgb(79, 122, 139);
}
.btn-big:focus {
  font-size: 18px !important;

  background-color: rgb(79, 122, 139);
}

.btn-add-db {
  padding: 5px;
  height: 30px;
  background: coral;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}
.btn-add-db:hover {
  background: orange;
}

.btn-add {
  border: 0;
  background: transparent;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  cursor: pointer;
}

.btn-add:hover {
  border: 0;
  color: white;
  border: 3px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  cursor: pointer;
}

.btn-delete-db,
.btn-confirm-yes {
  padding: 5px;
  height: 30px;
  background: #cd5c5c;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}
.btn-delete-db:hover,
.btn-confirm-yes:hover {
  background: red;
  color: black;
}

.btn-confirm-no {
  padding: 5px;
  height: 30px;
  background: #5ccd65;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}
.btn-confirm-no:hover {
  background: #36a749;
  color: black;
}

.btn-clear-db-search {
  color: white !important;
}

/* END BTNS */

/* NAV BAR */
.navbar {
  padding: 20px 0 20px 0;
  text-decoration: none;
}

.navbar ul {
  display: flex;
  justify-content: end;
}

.navbar ul li {
  list-style: none;
  padding: 10px 10px 10px 0;
  padding-right: 30px;
}

.navbar ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: cadetblue;
  font-weight: 600;
  font-size: 20px;
  transition: color 0.5s;
}

.navbar ul li a:hover {
  color: chocolate;
  border-bottom: 4px solid chocolate;
}

/* BOOKS */

#book-search h2 {
  color: chocolate;
  font-weight: 400;
  font-size: 2rem;
  padding-bottom: 20px;
  text-transform: uppercase;
}

#book-search form {
  font-size: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#book-search form input {
  font-weight: 200;
  font-style: italic;
  font-size: 18px;
  padding: 5px;
  padding-right: 10px;
  border: 0;
  border-bottom: 1px solid grey;
}
#book-search form input:focus {
  font-size: 30px;
  background-color: #999;
  background-color: rgb(188, 212, 221);
}

/* TABLES GRIDS */
.table-found {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid !important;
  grid-template-columns: repeat(18, 1fr);
  font-weight: 600;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  border-radius: 5px;
}

.table-found .item1 {
  grid-column: 1 / span 1;
  grid-row: 1;
}
.table-found .item2 {
  grid-column: 2 / span 4;
  grid-row: 1;
}
.table-found .item3 {
  grid-column: 5 / span 7;
  grid-row: 1;
}
.table-found .item4 {
  grid-column: 8 / span 11;
  grid-row: 1;
}
.table-found .item5 {
  grid-column: 12 / span 15;
  grid-row: 1;
  padding-left: 25px;
}
.table-found .item6 {
  grid-column: 16 / span 18;
  grid-row: 1;
  padding-left: 25px;
}

.items-found {
  margin-top: 20px;
}

.book-item .items-table {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  cursor: pointer;
  overflow: hidden;
}

/* OUT OF STOCK */
.items-table-out-of-stock {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  cursor: pointer;
  overflow: hidden;
}

.items-table-out-of-stock:hover {
  background-color: #e9967a;
  cursor: pointer;
}

/* END OUT OF STOCK */

/* BOOK ITEM */

.book-item {
  color: var(--text-list-color) !important;
}
.book-item .items-table {
  color: var(--table-selected-text-color);
}

.book-item .items-table:hover {
  background-color: var(--items-table-hover) !important;
  cursor: pointer;
  color: var(--text-list-color) !important;
}

.book-item .items-table .item1 {
  grid-column: 1 / span 1;
  grid-row: 1;
}
.book-item .items-table .item2 {
  grid-column: 2 / span 4;
  grid-row: 1;
}
.book-item .items-table .item2 img {
  max-height: 80px;
}

.book-item .items-table .item3 {
  grid-column: 5 / span 7;
  grid-row: 1;
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}
.book-item .items-table .item4 {
  grid-column: 8 / span 11;
  grid-row: 1;
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: oblique;
}
.book-item .items-table .item5 {
  grid-column: 12 / span 15;
  grid-row: 1;
  padding-left: 6px;
}
.book-item .items-table .item6 {
  grid-column: 16 / span 18;
  grid-row: 1;
  padding-left: 6px;
}

.book-item .items-table h4 {
  font-weight: 400;
  padding-right: 5px;
  padding-bottom: 10px;
}
/* .items-table-selected */

.book-item .items-table-selected {
  position: relative;
  z-index: 1;
  background-color: wheat !important;

  background: rgb(235, 94, 40);
  background: linear-gradient(
    193deg,
    rgb(255, 198, 176) 0%,
    rgba(255, 255, 255, 1) 81%
  );
  background: linear-gradient(
    25deg,
    rgba(255, 252, 242, 1) 41%,
    rgba(230, 228, 225, 1) 100%
  );
  color: var(--table-selected-text-color);
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  border-radius: 0px 10px 10px 10px;
  box-shadow: 0px 4px 7px -6px rgba(0, 0, 0, 0.5);
  overflow-y: hidden;
}

.items-table-selected-out-of-stock {
  background-color: #cd5c5c;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  border-radius: 0px 10px 0 0;
  overflow: hidden;
}

.book-item .items-table-selected .item1 {
  grid-column: 1 / span 1;
  grid-row: 1;
}

/* Covewr once tab is open */

.book-item .items-table-selected .item2 {
  grid-column: 2 / span 4;
  grid-row: 1 / span 8;
  padding-top: 15px;
  padding-bottom: 15px;
}

.book-item .items-table-selected img {
  max-width: 150px;
}

.book-item .items-table-selected .item3 {
  padding-top: 10px;
  grid-column: 5 / span 7;
  grid-row: 1;
  font-weight: 600;
}
.book-item .items-table-selected .item4 {
  padding-top: 5px;
  grid-column: 5 / span 7;
  grid-row: 2;
  font-style: italic;
}

.book-item .items-table-selected .item5 {
  grid-column: 5 / span 7;
  grid-row: 4;
  text-align: left !important;
}
.book-item .items-table-selected .item6 {
  grid-column: 5 / span 7;
  grid-row: 6;
}

/* END .items-table-selected */

.add-to-store {
  border-radius: 0px 0px 7px 7px;
  padding: 10px;
  padding-right: 30px;
}
.add-to-store-inputs {
  grid-column: 1 / span 18;
  grid-row: 1;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.add-to-store-inputs:focus {
  background-color: rebeccapurple;
}

.add-to-store-inputs label {
  font-size: 18px;
  margin-top: -2px;
  margin-left: 20px;
  margin-right: 10px;
  color: var(--inputs-labels);
}

.book-item .add-to-store {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
}

.book-item .add-to-store .item1 {
  grid-column: 1 / span 1;
  grid-row: 1;
}
.book-item .add-to-store .item2 {
  grid-column: 2 / span 4;
  grid-row: 1;
}
.book-item .add-to-store .item3 {
  grid-column: 5 / span 7;
  grid-row: 1;
  display: flex;
}
.book-item .add-to-store .item4 {
  grid-column: 8 / span 11;
  grid-row: 1;
}
.book-item .add-to-store .item5 {
  grid-column: 12 / span 15;
  grid-row: 1;
}
.book-item .add-to-store .item6 {
  grid-column: 16 / span 18;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ITEM ADDED  */
.item-added,
.item-not-added,
.item-added:hover,
.item-not-added:hover {
  font-size: 0.9rem;
  color: white !important;
  background-color: #cd5c5c !important;
  grid-column: 16 / span 18 !important;
  grid-row: 1 !important;
  padding: 5px !important;
  border-radius: 5px !important;
  padding-top: 9px !important;
  padding-bottom: 9px !important;
  padding-right: 9px !important;
  padding-left: 9px !important;
}

/* END ITEM ADDED  */
.book-item .add-to-store * .input-price {
  width: 50px;
  height: 20px;
  font-size: 18px;
  border: 0;
  padding: 5px;
  color: var(--add-to-store-input);
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.book-item .add-to-store * .input-stock {
  height: 20px;
  font-size: 16px;
  border: 0;
  width: 50px;
  padding: 5px;
  color: var(--add-to-store-input);
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.book-item .add-to-store * .input-status {
  height: 37px;
  font-size: 16px;
  border: 0;
  width: 110px;
  padding-left: 5px;
  color: var(--add-to-store-input);
  margin-right: 20px;

  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.book-item
  .add-to-store
  *
  :not(.btn-upd-item):not(.btn-confirm-no):not(.btn-confirm-yes):focus {
  outline: none;
  background-color: var(--inputs-focus-color);
  color: white;
  font-weight: 600;
  border-radius: 0px !important;
  border: 3px solid rgb(128, 124, 117);
}

.db-selectors {
  display: flex;
  flex-direction: row;
}

/* BOOK DELETED */
.upd-delete {
  width: 21%;
}
.confirmation {
  width: 19.5%;
  text-align: center;
}

/* CONFIRMATION */
.confirmation {
  background-color: white;
  padding: 7px;
  border-radius: 10px;
}

.confirmation > div {
  padding: 5px;
  padding-right: 25px;
  padding-left: 25px;
}

.confirm-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.book-delete,
.book-delete:hover {
  color: white !important;
  background-color: #cd5c5c !important;
  width: 70%;
  grid-row: 1 !important;
  padding: 5px !important;
  border-radius: 9px !important;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 9px !important;
  padding-bottom: 9px !important;
  padding-right: 9px !important;
  padding-left: 9px !important;
  text-align: center !important;
  text-transform: uppercase;
  outline: none;
  border: 3px solid rgb(255, 255, 255);
}

/* END BOOK DELETED */

/* DATABASE */

.no-data,
.in-progress {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  height: 100px;
  margin-top: 100px;
}

.text-out-of-stock {
  margin-top: 10px;
  color: white;
  font-weight: 800;
  background-color: #cd5c5c;
  padding: 5px;
  width: 125px;
}

/* NO DATA */
.no-data-text {
  margin-top: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: gray;
}

.item-waiting {
  width: 95px;
  margin-left: 20px;
}
.btns-container {
  width: 140px;
}
